/* GENERAL */

body{
	font-family: Tahoma, Geneva, sans-serif; 
	padding : 0 0 0 0;
	margin: 2em 2em 2em 2em;
	color : #02324E;
}

a:link, a:visited,  a:active, a:hover{
	color : inherit;
	font-weight: normal;
	text-decoration : none;
	font-style : italic;
}

a:hover{
	text-decoration : underline;
}

p.comingsoon{
	text-align : center;
	margin: 3em 3em 3em 3em;
	font-size : 4em;
}

ul {
	list-style-type:none;
	margin : 0 0 0 0;
	padding : 1em 0.5em 1em 0.3em;
}

ul li{
	background-image : url('imgs/capitello.png');
	background-repeat: no-repeat;
	background-size:1.2em 1.2em;
	background-position: left center;
	margin : 0 0 1em 0;
	padding : 0.5em 0 0.5em 2em;
}

ol{
	 list-style-position: inside;
}

ol li{
	margin : 0 0 1em 0;
	padding : 0.5em 0 0.5em 2em;
}

em.partitle{
	font-weight:bold;
	font-style: normal;
}


/* HEADER */

header{
	margin : 0 0 0 0;
	padding: 0 0 1em 0;
}

#okoa16logo{
	height : 10em;
	margin : 0 2em 0 0;
	float : right;
}

h1{
	margin : 0 0 0 0;
	padding : 0 0 0 0;
	font-weight : normal;
	color : #3c89b2;
	font-size : 4em;
	font-style : italic;
}

h1 span.year{
	color : #bd6372;
}

p#subtitle, p.date{
	margin : 0 0 0 0;
	padding : 0 0 0 0;
	font-size : 1em;
	font-weight : bold;
	color: #81bdd8;
}

abbr{
	text-decoration : none;
}

/* NAVIGATION */
nav{
	clear:both;
	display : block;
	border : none;
	background-color : #3c89b2;
	color : white;
	border-radius : 0.5em;
	margin: 2em 20% 2em 20%;
	padding:0.5em;
	text-align : center;
}


nav img{
	height:1.5em;
	vertical-align : middle;
	margin-right:0.2em;
	margin-left:1em;
}

nav a:link, nav a:visited,  nav a:active, nav a:hover{
	font-style : normal;
}

/* SECTIONS */
section{
	margin : 4em 1em 1em 1em;
	clear: both;
}

p, blockquote{
	margin : 1em 1em 1em 1em;
	padding : 0 0 0 0;
}

h2{
	/* color : #3c89b2; */
	font-size : 2em;
	text-align : center;
	border-bottom : solid #81bdd8 2px;
	margin: 0 0 1em 0;
	font-family: Arial Black, sans-serif;
}

h3{
	font-size : 1em;
	text-transform: uppercase;
	font-weight : normal;
	background-color : #3c89b2;
	color : white;
	border-radius : 0.5em;
	margin: 0 0 0 0;
	padding:0.5em;
}


advise{
	clear:both;
	display : block;
	border : none;
	background-color : #E9967A;	
	border-radius : 0.5em;
	margin: 2em 30% 2em 30%;
	padding:0.5em;
	text-align : center;
	font-weight : bold;
	font-family: Arial Black, Geneva;
	color : black;
}

/* SECTION CONTENTS */
div.piece{
	margin-top:2em;
	margin-bottom:2em;
	padding: 1em 1em 1em 1em;
	max-width:40em;
	border:none;
	border-radius: 2em;
}

div.left{
	margin-left:10%;
}

div.center{
	margin-left:30%;
}

div.right{
	margin-left:50%;
}

div.red{	
	background-color:#f3aaaa; 
/*	background-color:#f1c5c5; */
}

div.yellow{
	background-color:#f8fb00;
}

div.blue{
	background-color:#a5cddd;
}

div.piece h3, h3.baloon{
	display : inline-block;
	float:left;
	clear:both;
	color : white;
/*	font-size : 2em;
	font-weight : normal;
	font-style: italic;
	text-transform: none;*/
/*	padding : 0 1em 1em 0; */
	margin : 0em 1em 1em 0;	
}
/*div.piece p{
	display: inline-block;
}*/

/* INTRO */
blockquote{
/*	margin : 0 6em 1em 6em; */
	text-align: justify;
	font-style : italic;
	font-size : 1em;
}

blockquote:before
{
content: '\201C';
}

blockquote:after
{
content: '\201D';
}

/* INVITED */
section#invited img {
	vertical-align : text-top;
	margin : 0.3em 1em 1em 1em;
	float : left;
	border: solid 2px;
}

section#invited p {
	padding-top : 0.3em;
}

section#invited h3 {
	display : inline-block;
	float:left;
	color : white;
	margin : 0em 1em 0 0;	
}

/* TOPICS */
ul.topics {
	list-style-type:none;
	margin : 0 0 0 0;
	padding : 1em 0.5em 1em 0.3em;
}

ul.topics li{
	background-image : none;
	background-color : #CFE6F0;
	margin : 0 0 1em 2em;
	padding : 0.5em 0 0.5em 0.5em;
}

/* DATES */
ol.dates {
	list-style-type:none;
	margin : 1em 1em 1em 1em;
	padding : 0 0 0 2em;
}

ol.dates li{
	margin : 0 0 0 0;
	padding : 0.1em 0 0 0;
}

ol.dates li em{
	font-weight:bold;
	font-style: normal;
}

ol.dates li em.elapsed{
	text-decoration: line-through;
}

/* CREDITS */
ol.iconlist{
	list-style-type : none;
}

ol.iconlist img {
	height : 3em;
	vertical-align : middle;
	margin : 0.3em 1em 1em 1em;
	float : left;
}

ol.iconlist li{
	clear:left;
	margin-bottom : 1em;
}

/* Special links */
p.button{
	margin-top:2em 2em 2em 2em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border:none;
	border-radius: 0.5em;
	font-size: 1.5em;
	display: inline-block;
	float: right;
	clear:both;	
	color: white;
	background-color:#ED8282; 
	box-shadow : 2px 2px 1px 1px #f3aaaa;
}

span.relevant{
	font-family:'comic sans ms',fantasy;
	font-style: italic;
	font-size: 120%;
}
